Source: pyimager
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, lwimager, bison, libcasa-casacore-dev,
 libboost-dev, libreadline-dev, libblitz0-dev, flex, wcslib-dev,
 libcfitsio3-dev, gfortran, libboost-thread-dev, libfftw3-dev,
 libhdf5-dev, python-casa-pyrap, libboost-python-dev, python-all,
 python-numpy, libgsl0-dev, libxml2-dev, libpng12-dev, libboost-system-dev,
 libboost-filesystem-dev, libgtkmm-2.4-dev, python-pywcs (>= 1.11), 
 libboost-regex-dev, libboost-program-options-dev, libboost-date-time-dev,
 liblog4cplus-dev, casa-code
Standards-Version: 3.9.2
Homepage: http://www.lofar.org
X-Python-Version: 2.7

Package: pyimager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, 
 python-pywcs (>= 1.11)
Conflicts: makems, lofar
Description: subset of LOFAR software, specifically pyimager
