Source: lofar
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, casarest, bison, libcasacore2-dev,
 libboost-dev, libreadline-dev, libblitz0-dev, flex, wcslib-dev,
 libcfitsio3-dev, gfortran, libboost-thread-dev, libfftw3-dev,
 libhdf5-dev, python-casacore, libboost-python-dev, python-all,
 python-numpy, libgsl0-dev, libxml2-dev, libpng12-dev, libboost-system-dev,
 libboost-filesystem-dev, libgtkmm-2.4-dev, python-pywcs (>= 1.11), 
 libboost-regex-dev, libboost-program-options-dev, libboost-date-time-dev,
 liblog4cplus-dev, libcasasynthesis-dev
Standards-Version: 3.9.2
Homepage: http://www.lofar.org
X-Python-Version: 2.7

Package: lofar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, 
 python-pywcs (>= 1.11), ipython, python-pyfits, python-scipy, casacore-data,
 python-casacore, casarest
Conflicts: makems
Description: offline LOFAR user software
