Source: lofar
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, lwimager, bison, libcasacore-dev,
 libboost-dev, libreadline-dev, libblitz0-dev, flex, wcslib-dev,
 libcfitsio3-dev, gfortran, libboost-thread-dev, libfftw3-dev,
 libhdf5-lam-dev | libhdf5-mpi-dev | libhdf5-mpich-dev | libhdf5-openmpi-dev |
 libhdf5-serial-dev, python-pyrap, libboost-python-dev, python-all
Standards-Version: 3.9.2
Homepage: http://www.lofar.org
X-Python-Version: 2.7

Package: lofar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Conflicts: makems
Description: subset of LOFAR software
 specificly: CEP/PyBDSM CEP/MS CEP/Calibration CEP/Imager CEP/ParmDB
             CEP/LMWCommon LCS/Blob LCS/Common
 this is taken from the non-public svn repo at:
 https://svn.astron.nl/viewvc/LOFAR/
