#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_configure:
	 dh_auto_configure -- \
		-DBUILD_PACKAGES="pyimager BBSKernel pyparameterset" \
		-DBUILD_SHARED_LIBS=ON \
		-DUSE_CASA42=ON \
		-DLofarFT_SOURCE_DIR=LofarFT-4.2 \
		-DUSE_OPENMP=ON \
		-DPythonLibs_FIND_VERSION=2

override_dh_auto_install:
	dh_auto_install
	touch debian/pyimager/usr/lib/python2.7/dist-packages/lofar/__init__.py

override_dh_auto_test:
	true

%:
	dh $@ --parallel --with python2 --builddirectory=build/gnu_opt
