#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# f2py doesn't work correctly if debian sets these
unexport FFLAGS
unexport LDFLAGS

override_dh_auto_configure:
	 dh_auto_configure -- -DCMAKE_MODULE_PATH=$(CURDIR)/CMake \
		 -DUSE_LOG4CPLUS=OFF -DBUILD_TESTING=OFF -DBUILD_SHARED_LIBS=ON \
		 -DUSE_OPENMP=ON  -DCASAREST_ROOT_DIR:PATH=/usr/include/casarest \
		 -DBUILD_PACKAGES="LofarFT pystationresponse PyBDSM MS DP3 PLC Transport LofarStMan" \

override_dh_auto_install:
	dh_auto_install
	touch debian/lofar/usr/lib/python2.7/dist-packages/lofar/__init__.py

%:
	dh $@ --parallel --with python2 --builddirectory=build/gnu_opt
